.gallery {
  padding: 10px 0;
}

.wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;

  & + .wrapper {
    margin-left: 20px;
  }

  img {
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .checked {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #6abe39;
    font-size: 18px;
  }
}